@font-face {
    font-family: 'century_expanded_regularRg';
    src: url('../../../assets/century-expanded-regular-webfont.eot');
    src: url('../../../assets/century-expanded-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../assets/century-expanded-regular-webfont.woff') format('woff'),
         url('../../../assets/century-expanded-regular-webfont.ttf') format('truetype'),
         url('../../../assets/century-expanded-regular-webfont.svg#century_expanded_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}