@media only screen and (max-width: 1000px) {
    .content {
        margin: 100px $gutter/3 0;
    }
}

@media only screen and (max-width: 800px) {
    .mobile {
        display: block;
    }
    header {
        position: static;
        margin-top: 10px;
        margin: 10px 10px 0;
    }
    .home-background {
        display: none;
    }
    .info-box {
        display: block;
        width: 100%;
        padding: 0;
        margin-top: 20px;
        position: static !important;
        cursor: auto;
    }
    .menu-header {
        position: absolute;
        right: 10px;
        top: 10px;
        li:first-child a {
            background-image: url(../../../images/mobile-menu.png);
            width: 40px;
            height: 32px;
            background-size: 40px 32px;
        }
    }
    nav {
        font-size: 1em;
        margin: 20px 0 0;
        li {
            display: none;
            body.home & {
                display: none;
            }
            &:first-child {
                display: block;
                body.home & {
                    display: block;
                }
                a {
                    color: transparent;
                    text-indent: 100%;
                    overflow: hidden;
                    &:before {
                        content: normal;
                        background: blue;
                    }
                }
            }
        }
    }
    .fade-overlay {
        display: none;
    }
    footer {
        position: static;
        margin: 20px;
    }
    .content {
        margin: 10px 10px 0;
    }
    .col {
        display: block;
        width: 100%;
        padding: 0;
    }
    .collection {
        width: 100%;
        padding: 0;
    }
    .breadcrumbs {
        .current {
            font-family: sans-serif;
            text-transform: uppercase;
            position: static;
            font-size: $font-small;
            margin-top: 20px;
            margin-left: 2px;
        }
    }
    .breadcrumb-arrow {
        display: none;
    }
    .to-top {
        display: inline-block;
    }
    .mobile-image {
        display: block;
    }
}

@media print,
    (-o-min-device-pixel-ratio: 5/4),
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}