@media only screen and (max-width: 1000px) {
    .content {
        margin: 100px $gutter/3 0;
    }
}

@media only screen and (max-width: 800px) {
    .mobile {
        display: block;
    }
    header {
        text-align: left;
        position: static !important;
        margin-top: 10px;
        margin: 10px 20px 0;
        .page-template-page-home-php & {
            position: static;
        }
    }
    .home-background {
        display: none;
    }
    .info-box {
        display: block;
        width: 100%;
        padding: 0;
        margin-top: 20px;
        position: static !important;
        cursor: auto;
    }
    .mobile-menu {
        display: block;
    }
    .banner-logo.mobile {
        display: inline-block;
        font-size: 30px;
        margin-left: 52px;
    }
    nav {
        display: none;
        font-size: 30px;
        &.disabled {
            pointer-events: auto;
        }
        .menu-header {
            margin-top: 20px;
        }
        li {
            display: block !important;
            &:before {
                content: normal !important;
            }
            &:first-child {
                display: none !important;
                a {
                    color: transparent;
                    text-indent: 100%;
                    overflow: hidden;
                    &:before {
                        content: normal;
                    }
                }
            }
        }
    }
    .fade-overlay {
        display: none;
    }
    footer {
        position: static !important;
        margin: 20px !important;
    }
    .content {
        margin: 20px 20px 0;
        padding: 0;
    }
    .col {
        display: block;
        width: 100%;
        padding: 0;
    }
    .collection {
        width: 100%;
        padding: 0;
    }
    .breadcrumbs {
        display: none;
    }
    .breadcrumb-arrow {
        display: none;
    }
    .to-top {
        display: inline-block;
    }
    .mobile-image {
        display: block;
    }

    .nav-disabler {
        display: none !important;
    }

    .mobile-breadcrumb {
        .breadcrumbs {
            display: block;
            margin: 15px 0 20px;
            text-align: left;
            a {
                display: none;
            }
        }
        .current {
            font-family: 'century_expanded_regularRg', serif;
            position: static;
            font-size: 30px;
            margin-top: 20px;
        }
    }
}

@media print,
    (-o-min-device-pixel-ratio: 5/4),
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}