@media only screen and (max-width: 1000px) {
    .content {
        margin: 100px $gutter/3 0;
    }
}

@media only screen and (max-width: 800px) {
    html,
    body {
        height: auto;
    }
    .mobile {
        display: block;
    }
    header {
        text-align: left;
        position: static !important;
        margin-top: 10px;
        margin: 10px 20px 0;
        .page-template-page-home-php & {
            position: static;
        }
    }
    .home-background {
        display: none;
    }
    .info-box {
        display: block;
        width: 100%;
        padding: 0;
        margin-top: 20px;
        position: static !important;
        cursor: auto;
    }
    .mobile-menu {
        display: block;
    }
    .banner-logo.mobile {
        display: inline-block;
        font-size: 30px;
        margin-left: 44px;
    }
    nav {
        display: none;
        font-size: 30px;
        &.disabled {
            pointer-events: auto;
        }
        .menu-header {
            margin-top: 15px;
        }
        li {
            display: block !important;
            &:before {
                content: normal !important;
            }
            &:first-child {
                display: none !important;
                a {
                    color: transparent;
                    text-indent: 100%;
                    overflow: hidden;
                    &:before {
                        content: normal;
                    }
                }
            }
        }
    }
    .fade-overlay {
        display: none;
    }
    .page-wrap:after,
    footer {
        height: auto;
    }
    .page-wrap {
        margin-bottom: 0;
    }
    footer {
        position: static !important;
        margin: 20px !important;
        padding-bottom: 20px !important;
    }
    .content {
        margin: 20px 20px 0;
        padding: 0;
    }
    .col {
        display: block;
        width: 100%;
        padding: 0;
    }
    .collection {
        width: 100%;
        padding: 0;
    }
    .breadcrumbs {
        display: none !important;
    }
    .breadcrumb-arrow {
        display: none;
    }
    .to-top {
        display: inline-block;
    }
    .mobile-image {
        display: block;
    }

    .nav-disabler {
        display: none !important;
    }

    .mobile-breadcrumb {
        .breadcrumbs {
            display: block !important;
            margin: 15px 0 20px;
            text-align: left;
            a {
                display: none;
            }
        }
        .current {
            font-family: 'century_expanded_regularRg', serif;
            position: static;
            font-size: 30px;
            margin-top: 20px;
        }
    }

    .collection-see-all {
        padding: 0;
        width: 100%;
        min-width: 0;
        margin-bottom: 20px;
    }

    .collection-link-container {
        &:hover {
            .collection-rollover {
                display: none;
            }
            img {
                opacity: 1;
            }
        }
    }

    .lightbox {
        padding-top: 70px;
    }

    .lightbox-close {
        position: absolute;
    }

    .inquiry-overlay {
        padding-top: 110px;
        padding-left: 20px;
        padding-right: 20px;
        .logo {
            left: 20px;
        }
        .col {
            margin-bottom: 20px;
        }
    }

    .inquiry-overlay-success {
        z-index: 40;
        position: fixed;
        left: 0;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        text-align: center;
        display: inline-block;
        font-size: 30px;
    }

    .lightbox-loader {
        font-style: 30px;
    }

}

@media print,
    (-o-min-device-pixel-ratio: 5/4),
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}