//
// Collections and Products
//

.page-template-page-collections-php {
    text-align: center;
}
.page-template-page-collection-single-php {
}

.page-template-page-collections-php {
    .col {
        vertical-align: bottom;
    }
}

.collection {
    display: inline-block;
    width: 50%;
    padding: 10px;
    text-align: center;
    h2 {
        @extend %monospace;
        margin-top: 10px;
    }
}

.collection-info {
    margin-top: 20px;
    padding: 10px;
    .back-to-collections {
        margin-top: 40px;
    }
}

.collection-image {
    display: inline-block;
    width: 66.666%;
    padding-right: 10px;
}

.collection-description {
    display: inline-block;
    width: 32%;
    padding-left: 10px;
    text-align: left;
}

.collection-link-container {
    position: relative;
    display: block;
    overflow: hidden;
    &:hover {
        .collection-rollover {
            opacity: 1;
            background: $light-brown;
        }
        img {
            // opacity: $opacity;
        }
    }
}

.collection-rollover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: left;
    padding: 20px;
    -webkit-transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
    p {
        @extend %max-line-length;
    }
}

.product {
    margin-bottom: 60px;
}
.product-title {
    font-size: $font-small;
    margin-bottom: 1em;
}
.product-images {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin-bottom: 20px;
    }
}
.button1.product-inquiry {
    margin-top: 0;
}

.download-tear-sheet {
    @extend %normal-text-link;
}

.see-all {
    @extend .button1;
    display: inline-block;
    margin: 40px 0;
    text-align: center;
}

.collection-see-all {
    text-align: center;
    .title {
        margin: 10px 0 16px;
        display: block;
        h2 {
            @extend %monospace;
        }
    }
}

.image-rollover {
    position: relative;
    display: block;
    &:hover {
        .secondary-image {
            opacity: 1;
            z-index: 1;
        }
    }
    .secondary-image {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: opacity .15s;
    }
}
