//
// Collections and Products
//

.page-template-page-collections-php,
.page-template-page-collection-single-php {
    text-align: center;
}

.page-template-page-collections-php {
    .col {
        vertical-align: bottom;
    }
}

.collection {
    display: inline-block;
    width: 50%;
    padding: 20px;
    text-align: center;
    h2 {
        font-size: $font-normal;
        margin-top: 40px;
    }
}

.collection-link-container {
    position: relative;
    display: block;
    overflow: hidden;
    &:hover {
        .collection-rollover {
            display: block;
        }
        img {
            opacity: $opacity;
        }
    }
}

.collection-rollover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
}

.product {
    margin-bottom: 60px;
}
.product-title {
    font-size: $font-small;
    margin-bottom: 60px;
}
.product-images {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin-bottom: 60px;
    }
}

.see-all {
    @extend .button1;
    display: inline-block;
    margin: 40px 0;
    text-align: center;
}