//
// Columns
//

.col {
    padding: 20px;
    display: inline-block;
}
.col2 {
    width: 50%;
    &.col-first {
        text-align: center;
        img {
            margin-bottom: 40px;
        }
    }
}
.col4 {
    display: inline-block;
    width: 25%;
    min-width: 300px;
    padding: 20px;
}