//
// Footer
//

footer {
    margin-left: 32px;
    text-align: left;
    a { opacity: $opacity;
        transition: opacity 0.15s ease-out;
        -webkit-transition: opacity 0.15s ease-out;
        -moz-transition: opacity 0.15s ease-out;
        -o-transition: opacity 0.15s ease-out;
      }
    a:hover { opacity: 1; }
    .page-template-page-home-php & {
      height: auto;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 36px;
      margin: 0;
    }
    .copyright {
      opacity: $opacity;
    }
}

body.home footer {
  .copyright { opacity: 1; }
  a { opacity: 1; color: #000000; }
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  // equal to footer height
  margin-bottom: -44px; 
}

footer,
.page-wrap:after {
  // .push must be the same height as footer
  height: 44px; 
}

.page-wrap:after {
  @extend %clearfix;
  display: block;
}

.contact-info,
.social-media {
  margin: 0;
  margin-top: 6px;
  padding: 0;
  li {
    display: inline-block;
    margin-right: 16px;
    .page-template-page-contact-php .content & {
      display: block;
    }
  }
}

.contact-info {
  @extend %monospace;
  position: absolute;
  left: 90px;
}

.social-media {
}