//
// Footer
//

footer {
    @extend %monospace;
    margin-left: 30px;
    text-align: left;
    a { color: #bbb; }
    a:hover { border-color: #bbb; }
    .page-template-page-home-php & {
      height: auto;
      position: fixed;
      bottom: 22px;
      left: 30px;
      margin: 0;
    }
}

body.home footer {
  a { color: #000000; }
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  // equal to footer height
  margin-bottom: -44px; 
}

footer,
.page-wrap:after {
  // .push must be the same height as footer
  height: 44px; 
}

.page-wrap:after {
  @extend %clearfix;
  display: block;
}