//
// Home
//

body.home {
	background: url(../../../images/chair.jpg) no-repeat center center fixed; 
	background-size: cover;
}

.info-box {
	display: none;
	position: fixed;
	width: 340px;
	padding: 25px;
	background: #FFF;
}