//
// Home
//

body.home {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.info-box {
    display: none;
    position: fixed;
    width: 340px;
    padding: 30px;
    background: #FFF;
    font-size: 15px;
    line-height: 19px;
    cursor: move;
    p, input {
        cursor: auto;
    }
    input {
        padding: 10px;
        border: 1px solid;
        border-color: #848484 #c1c1c1 #e1e1e1;
        width: 100%;
    }
    .date {
        border-bottom: 1px solid #000;
    }
}