//
// Home
//

body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.info-box {
    display: none;
    position: fixed;
    width: 340px;
    padding: 25px;
    background: #FFF;
    cursor: move;
    p, input {
        cursor: auto;
    }
}