//
// Product Inquiry
//

.inquiry-overlay {
    padding: 20px $gutter 100px;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    z-index: 30;
    background: #fff;
    .logo {
        background-image: url(../../../images/banner-furniture-logo.svg);
        width: 192px;
        height: 52px;
        background-size: 188px 49px;
        background-repeat: no-repeat;
        line-height: normal;
        vertical-align: middle;
        position: absolute;
        top: 30px;
        left: 3.33333%;
        z-index: 40;
    }
    label,
    input {
        display: block;
        margin-bottom: 4px;
    }
    input,
    textarea {
        border: 1px solid;
        border-color: #848484 #c1c1c1 #e1e1e1;
        border-radius: 2px;
        padding: 10px 6px 9px;
    }
    input {
        width: 100%;
        max-width: 500px;
        margin-bottom: .8em;
    }
    textarea {
        width: 100%;
        max-width: 500px;
        min-height: 150px;
    }
    .submit-button {
        width: auto;
    }
    p {
        font-family: Arial;
        margin-bottom: 6px;
    }
}

.inquiry-overlay-success {
    @extend %serif;
    z-index: 40;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    text-align: center;
    display: inline-block;
    font-size: 40px;
    max-width: 50%;
    margin: 0 auto;
}