//
// Layout
//

body.fixed .wrapper {
    position: fixed;
}

.content {
    @extend %clearfix;
    padding: 140px $gutter $vertical-space;
    max-width: 1600px;
}
header {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 30px;
    margin-left: 70px; // This accounts for the offset of the wishbone logo
    &.fixed {
        position: fixed;
        nav {
            pointer-events: auto;
        }
        -webkit-font-smoothing:subpixel-antialiased; // Fixes Safari from rendering text poorly
    }
    .page-template-page-home-php & {
        position: fixed;
    }
}
.fade-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    opacity: .7;
}

.single-page-content {
    .single-page-wrapper {
        margin: 0 10px;
    }
    .product-images .product {
        margin-bottom: 0;
    }
}

.lightbox {
    padding: 20px 100px 40px;
    position: absolute;
    background: #FFF;
    width: 100%;
    min-height: 100%;
    top: 0;
    z-index: 20;
    &.fixed {
        position: fixed;
    }
}
#lightbox-content,
.single-page-content .single-page-wrapper {
    max-width: 1400px;
    // margin: 0 auto;
    .col {
        padding: 0;
    }
    .col.left {
        padding-right: 10px;
        p {
            margin-right: 20px;
        }
    }
    .col.right {
        padding-left: 10px;
        strong {
            @extend %monospace;
            font-weight: normal;
            line-height: 1;
        }
    }
}
.lightbox-close {
    position: fixed;
    background-image: url(../../../images/close-x.svg);
    width: 50px;
    height: 50px;
    background-size: 50px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 40px;
    font-family: sans-serif;
    &.mobile {
        display: none;
    }
}

.lightbox-loader {
    @extend %serif;
    font-size: $font-large;
    position: fixed;
    top: 20px;
    left: 20px;
}

.inquiry-overlay p {
    @extend %monospace;
}

.inquiry-close {
    @extend .lightbox-close;
    z-index: 40;
}
