//
// Layout
//

body.fixed .wrapper {
    position: fixed;
}

.content {
    @extend %clearfix;
    padding: 140px $gutter $vertical-space;
}
header {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 30px;
    margin-left: 70px; // This accounts for the offset of the wishobe logo
    &.fixed {
        position: fixed;
        nav {
            pointer-events: auto;
        }
    }
    .page-template-page-home-php & {
        position: fixed;
    }
}
.fade-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    opacity: .7;
}

.lightbox {
    padding: 20px;
    position: absolute;
    background: #FFF;
    width: 100%;
    min-height: 100%;
    top: 0;
    z-index: 20;
    &.fixed {
        position: fixed;
    }
}
#lightbox-content {
    width: 1075px;
}
.lightbox-close {
    // @include set_background('close.png', '33px 33px', '0 0');
    position: fixed;
    // width: 33px;
    // height: 33px;
    background-image: url(../../../images/wishbone-logo.svg);
    width: 66px;
    height: 66px;
    background-size: 66px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 40px;
    font-family: sans-serif;
}
.lightbox-loader {
    @extend %serif;
    font-size: $font-large;
    position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    top: 20px;
    left: 20px;
}

.inquiry-overlay p {
    @extend %monospace;
}

.inquiry-close {
    @extend .lightbox-close;
    z-index: 40;
}