//
// Nav
//

.menu-header,
.menu-header .menu {
    display: inline-block;
}
nav {
    text-align: left;
    ul.active {
        &:hover {
            li {
                display: block;
            }
        }
        li {
            &.current-menu-item,
            &.current-page-ancestor {
                &:before {
                    margin-left: -1.5em;
                }
            }
        }
    }
    li {
        display: none;
        body.home & {
            display: block;
        }
        &:first-child {
            display: inline-block;
            &:hover {
                &:before {
                    content: normal;
                    body.home & {
                        content: normal;
                    }
                }
            }
            a {
                &:before {
                    @extend %wishbone;
                }
            }
        }
        &.current-menu-item,
        &.current-page-ancestor,
        &:hover {
            &:before {
                content: '\25BA';
                font-size: 12px;
                width: 0;
                display: inline-block;
                margin-right: 1.5em;
                vertical-align: middle;
                body.home & {
                    content: normal;
                }
            }
            &:hover {
                &:before {
                    margin-left: -1.5em;
                }
            }
        }
        &:hover {
            &:before {
                body.home & {
                    content: '\25BA';
                }
            }
        }
        a {
            display: inline-block;
        }
    }
}
.banner-logo img {
    height: 49px;
    width: auto;
}

// Breadcrumbs
.breadcrumbs {
    display: inline;
    a {
        text-decoration: none;
    }
}
.breadcrumb-arrow {
    font-size: 12px;
    vertical-align: middle;
}