//
// Press
//

.page-template-page-press-php {
    .content {
        img {
            filter: grayscale(1);
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}

.press-overlay {
  text-align: center;
  p {
    margin: 0;
  }
  .image-container {
    margin-top: 40px;
  }
}