//
// Press
//

.page-template-page-press-php {
    .content {
        img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: url(#greyscale);
            filter: gray;
            transition: .15s ease-out;
            -webkit-transition: .15s ease-out;
            -moz-transition: .15s ease-out;
            -o-transition: .15s ease-out;
            &:hover {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
                filter: none;
            }
        }
    }
    #lightbox-content {
      width: 100%;
    }
}

.press-overlay {
  text-align: center;
  h3 {
    font-size: 1em;
  }
  a {
    @extend %normal-text-link;
  }
  p {
    margin: 0;
  }
  .image-container {
    // margin-top: 40px;
    img {
      display: block;
      margin: 0 auto;
      margin-top:
    }
  }
}