//
// Typography
//

body {
    @extend %sans;
    font-size: $font-normal;
}

nav {
    @extend %serif;
    font-size: $font-large;
    line-height: 1.2em;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        a {
            text-decoration: none;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.inquiry-overlay h2 {
    font-size: $font-large;
    text-align: left;
}