//
// UI elements
//

.fade {
    opacity: $opacity;
}

.draggable {
    cursor: pointer;
}

.button1 {
    padding: 5px 12px;
    border: 1px solid #000;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.to-top {
    display: none;
    cursor: pointer;
}

label {
    &.error {
        color: #F00;
    }
}

input {
    &.error {
        box-shadow: 1px 1px 2px #F00;
        border: 1px solid #C90000;
        &:focus {
            outline: 1px solid #F00;
        }
    }
}