//
// UI elements
//

.fade {
    opacity: $opacity;
}

.draggable {
    cursor: pointer;
}

.button1 {
    padding: 10px 14px 9px 14px;
    vertical-align: -1px;
    border: 1px solid rgb(212,197,182);
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: border .15s ease-out;
    -moz-transition: border .15s ease-out;
    -o-transition: border .15s ease-out;
    &:hover {
        border-color: #000000;
    }
}
.to-top {
    display: none;
    cursor: pointer;
}

label {
    &.error {
        color: #F00;
    }
}

input {
    &.error {
        box-shadow: 1px 1px 2px #F00;
        border: 1px solid #C90000;
        &:focus {
            outline: 1px solid #F00;
        }
    }
}