//
// Variables
//

// Sizes
$gutter: 90px;
$vertical-space: 60px;

$font-meta: 15px;
$font-small: 17px;
$font-normal: 17px;
$font-large: 48px;

// Opacity
$opacity: .3;

// Color
$light-brown: rgb(212,197,182);
$dark-brown:  rgb(88,55,15);