<div class="logo"></div>
<div class="ibfix">
    <div class="col col2 ib">
        <p>Product Inquiry:<br><%= title %></p>
        <img src="<%= acf.featured_image.url %>" width="<%= acf.featured_image.width %>" height="<%= acf.featured_image.height %>">
    </div>
    <div class="col col2 ib">
        <form method="post" action="yourFileName.php">
            <input type="text" name="studentname">
            <input id="inquiry-submit" type="submit" value="click" name="submit">
        </form>
    </div>
</div>