<div class="press-overlay">
  <h3><%= title %></h3>
  <div><%= acf.content %></div>
  <% if (acf.pdf_link_boolean == false){ %>
      <a href="<%= acf.external_link %>" target="_blank"><%= acf.link_text %></a>
  <% } else { %>
      <a href="<%= acf.pdf_link.url %>" target="_blank"><%= acf.link_text %></a>
  <% } %>
  <div class="image-container">
  <% if (acf.pdf_link_boolean == false){ %>
      <a href="<%= acf.external_link %>" target="_blank">
        <img src="<%= acf.featured_image.url %>" alt="<%= acf.featured_image.alt %>">
      </a>
  <% } else { %>
      <a href="<%= acf.pdf_link.url %>" target="_blank">
        <img src="<%= acf.featured_image.url %>" alt="<%= acf.featured_image.alt %>">
      </a>
  <% } %>
  </div>
</div>