<div class="press-overlay">
  <h3><%= title %></h3>
  <div><%= acf.content %></div>
  <% if (acf.pdf_link_boolean == false){ %>
      <a href="<%= acf.external_link %>" target="_blank"><%= acf.link_text %></a>
  <% } else { %>
      <a href="<%= acf.pdf_link.url %>" target="_blank"><%= acf.link_text %></a>
  <% } %>
  <div class="image-container">
  <% _.each(acf.images, function (key) { %>
    <% _.each(key, function(image){ %>
      <img src="<%= image.url %>" width="<%= image.width %>" height="<%= image.height %>">
      <% }); %>
  <% }); %>
  </div>
</div>
<div class="button1 lightbox-close mobile">Back</div>
